@model IEnumerable<Tienda.Models.Proveedor>

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<section class="content">
    <ol class="breadcrumb box">
        <li><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
        <li class="active">Proveedores</li>
    </ol>

    <div class="box">
        <div class="box-header">
            <div class="box-title">
                <small>Proveedores</small>
            </div>
            <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li> @Html.ActionLink("Nuevo", "Crud", null, new { @class = "btn btn-default" })</li>
                </ul>
            </div>
        </div>
        <div class="box-body table-responsive">
            <br />
            <table id="Proveedores" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Rut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Crud", new { id = item.Id }, new { @class = "btn btn-default" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">

        </div>
    </div>


</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#Proveedores").DataTable();
        });
    </script>
}