@model Tienda.Models.Arriendo
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<section class="content ">
    <ol class="breadcrumb box hidden-print">
        <li><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
        <li><a href="@Url.Action("Index","Arriendos")">Ventas</a></li>
        <li class="active">Arriendo N° @Model.Id</li>
    </ol>
    <div class="visible-print-block">Documento Generado el @DateTime.Now.ToShortDateString()</div>
    <br class="visible-print-block" />
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">
                        <div class="visible-print-inline">Comprobante de</div>  Arriendo n° #@Model.Id
                    </div>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Fecha Inicio
                        </dt>
                        <dd>
                            @string.Format("{0:dd-MM-yyyy}", Model.FechaInicio)
                        </dd>
                        <dt>
                            Fecha Fin
                        </dt>
                        <dd>
                            @string.Format("{0:dd-MM-yyyy}", Model.FechaFin)
                        </dd>
                        <dt>
                            Estado
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Estado.Nombre)
                        </dd>
                        <dt>
                            Cliente
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Cliente.FullName)
                        </dd>
                        <dt>
                            Vendedor
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Vendedor.FullName)
                        </dd>                      
                    </dl>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary hidden-print" onclick="window.print();">Imprimir</button>

                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default pull-right hidden-print" })
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">
                        Detalle Arriendo
                    </div>
                </div>
                <div class="box-body">

                    <table class="table table-bordered">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>                        
                        
                        </tr>
                        @foreach (var item in Model.DetalleArriendo)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>                               
                             
                            </tr>
                        }
                      
                    </table>
                </div>


            </div>
        </div>

    </div>
</section>


