@model IEnumerable<Tienda.Models.Cotizacion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<section class="content">
    <ol class="breadcrumb box">
        <li><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
        <li class="active">Cotizaciones</li>
    </ol>

    <div class="box">
        <div class="box-header">
            <div class="box-title">
                <small>Cotizaciones</small>
            </div>
            <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                </ul>
            </div>
        </div>
        <div class="box-body table-responsive">
            <br />
            <table id="Cotizaciones" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Cliente Rut
                        </th>
                        <th>
                            Cliente Correo
                        </th>
                        <th>
                            Cliente Telefono
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @string.Format("{0:dd-MM-yyyy}", item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Rut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Telefono)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", "Cotizacion", new { id = item.Id }, new { @class = "btn btn-default" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">

        </div>
    </div>


</section>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#Cotizaciones").DataTable();
        });
    </script>
}

