<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <style>
        html, body {
            height: 100%;
        }

        nav .container-fluid {
            background: #2b2b2b;
            padding: 1.0em 0;
        }

        .navbar-nav a {
            font-size: 15px;
        }

        .navbar-brand {
            font-family: 'Oleo Script', cursive;
        }

        #menu {
            border-radius: 10px;
            box-shadow: -4px 6px 8px -4px rgba(0,0,0,0.9);
            padding-top: 2%;
            border: solid 1px darkgray;
            margin-left: 2%;
            margin-bottom: 50px;
        }

        .thumbnail {
            box-shadow: -4px 6px 8px -4px rgba(0,0,0,0.9);
            width: 90%;
            margin: auto;
        }

        #Catalogo {
            margin-top: 20px;
        }

        .thumbnail a {
            text-align: center;
        }

        .container {
            margin-bottom: 100px;
        }

        .footer {
            background: #2b2b2b;
            text-align: center;
            color: white;
            position: relative;
            text-align: center;
            padding: 1.5em 0;
        }
    </style>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Inicio")"><span aria-hidden="true"><img src="https://image.flaticon.com/icons/svg/138/138310.svg" style="width:25px; margin-left:10px;" /></span>  Sostel</a>  Sostel</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Login", "Account")">Iniciar sesión</a>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  @Tienda.Helpers.IdentityExtensions.GetDisplayName(User.Identity)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (!User.IsInRole("Usuario"))
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Gestion")"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Administrar Negocio</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("MisCompras", "Inicio")"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Mis Compras</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="@Url.Action("LogOff", "Account")"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <div class="container">

        <div id="contenido" class="col-md-12">
            @RenderBody()

        </div>

    </div>

    <div class="footer">

        <p> © @DateTime.Now.Year Sostel.cl</p>


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
