
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<section class="content">
    <ol class="breadcrumb box">
        <li>Inicio</li>
    </ol>
    <!-- Main content -->
    
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@ViewData["CantidadVentas"]</h3>
                        <p>Ventas Totales</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>

                    <a href="@Url.Action("Index","Ventas")" class="small-box-footer">Ver mas <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@ViewData["CantidadArriendos"]</h3>
                        <p>Arriendos pendientes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-get-pocket"></i>
                    </div>
                    <a href="@Url.Action("Index","Arriendos")" class="small-box-footer">Ver mas <i class="fa fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@ViewData["CantidadCompras"]</h3>
                        <p>Adquisiciones Totales</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="@Url.Action("Index","Adquisiciones")" class="small-box-footer">Ver mas <i class="fa fa-arrow-circle-right"></i></a>

                </div>
            </div>

            @*   <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>@ViewData["CantidadMensajes"]</h3>
                            <p>Mensajes no Leidos</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-inbox"></i>
                        </div>
                        <a href="@Url.Action("Index", "Contacto")" class="small-box-footer">Ver mas <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            *@
            <!-- ./col -->
        </div>
    </section>


