@model IEnumerable<Tienda.Models.Producto>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">

        <div class="thumbnail">

            <h4><span class="center-block text-center thin para-w3-agile">@item.Nombre</span></h4>

            <a href="@Url.Action("Detalles","Inicio",new { id = item.Id })"><img alt="@item.Nombre" src="@Url.Content(item.DetalleProducto.FirstOrDefault().ImagenUrl)" class="img-thumbnail " style="width: 200px; height: 210px;" /></a>

            <h4 class="text-center para-w3-agile"><span class="thin"> @string.Format("{0:c0}", item.Precio) </span></h4>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="divAddCart btn btn-success" style="margin-left: 44%;" id="@item.Id"><i class="ion-bag"></i></div>
            }
        </div>
        <br />
        <br />
    </div>
}
