@model IEnumerable<Tienda.Models.Categoria>
@{
    ViewBag.Title = "Catalogo";
}

<div class="row">
    <div class="col-lg-offset-10">
        <label style="margin-left: 15px;">Cesta:</label>
        <span id="spnCart" class="label label-info ">@ViewBag.cartCount</span>
        <br />
    </div>
</div>
<hr />


<div class="row" id="Catalogo">
    <div class="col-md-2" id="menu">

        <h4 class="title-w3ls">Filtrar por:</h4>
        <div class="nav-divider divider"></div>
        <ul class="nav nav-list" style="margin-left: 15px;">
            @foreach (var item in Model)
            {
                <li><a class="divcategoria" id="@item.Id">@item.Nombre</a></li>
            }
        </ul>
        <br />
        <br />
    </div>
    <div class="col-md-9">
        <div id="cargarLista"></div>

    </div>
</div>



<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

@section scripts
{
    <script>
    $(document).ready(function () {
        Getcategoria(null);

            $(document).delegate('.divAddCart', 'click', function () {
            var getItemId = $(this).attr("id");
            var getUserName = $('.divName').html();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("AddCart")',
                data: "{ 'itemId':' " + getItemId + "' }",
                success: function (data) {
                    $('#spnCart').html(data)
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

        $(document).delegate('.divcategoria', 'click', function () {
            var getItemId = $(this).attr("id");

            Getcategoria(getItemId);
        });

        function Getcategoria(a)
        {
              $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("CargarLista")',
                data: "{ 'id':' " + a + "' }",
                success: function (data) {
                    $('#cargarLista').html(data);
                },
                error: function (data) {

                }
            });
        }

        $('#spnCart').on('click', function () {
            var getName = $('.divName').html();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("GetCartItems")',
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#exampleModal').modal({

                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

        $(document).delegate('.cartDel', 'click', function () {
            var getItemId = $(this).attr("id");
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("DeleteCart")',
                data: "{ 'itemId':' " + getItemId + "' }",
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#spnCart').html($(data).find('#cartList tbody tr').length);
                    $('#exampleModal').modal({

                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

         $(document).delegate('.cartsum', 'click', function () {
            var getItemId = $(this).attr("id");
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("Cestasum")',
                data: "{ 'id':' " + getItemId + "' }",
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#spnCart').html($(data).find('#cartList tbody tr').length);
                    $('#exampleModal').modal({

                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });

           $(document).delegate('.cartrest', 'click', function () {
            var getItemId = $(this).attr("id");
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("Cestarest")',
                data: "{ 'id':' " + getItemId + "' }",
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#spnCart').html($(data).find('#cartList tbody tr').length);
                    $('#exampleModal').modal({

                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    });
    </script>
}