@model Tienda.Models.Producto
@{

}


<div class="row">
    <div class="col-md-12">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        <asp:Label ID="lb_numeropad" runat="server" Text=""></asp:Label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            @if (!(Model.DetalleProducto.Select(dt => dt.ImagenUrl).FirstOrDefault() == null))
                            {

                                <img alt="@Model.Id" src="@Url.Content(Model.DetalleProducto.SingleOrDefault().ImagenUrl)" class="img-thumbnail " style="width:400px;height:200px;max-width: 100%; max-height: 100%;" />

                            }
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Categoria.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Categoria.Nombre)
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Nombre)
                                </div>
                            </div>      <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Barcode)
                                </div>
                            </div>      <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Precio)
                                </div>
                            </div>      <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.DetalleProducto.First().Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.DetalleProducto.First().Descripcion)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Volver", "Catalogo", new { }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>

    </div>
</div>