@model IEnumerable<Tienda.Models.Venta>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<section class="content">
    <ol class="breadcrumb box">
        <li><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
        <li class="active">Ventas</li>
    </ol>

    <div class="box">
        <div class="box-header">
            <div class="box-title">
                <small>Ventas</small>
            </div>
            <div class="box-tools">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li> @Html.ActionLink("Nueva", "PuntodeVenta", null, new { @class = "btn btn-default" })</li>
                </ul>
            </div>
        </div>
        <div class="box-body table-responsive">
            <br />
            <table id="Ventas" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Estado Venta
                        </th>
                        <th>Vendedor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @string.Format("{0:dd-MM-yyyy}", item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vendedor.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("Detalles", "Detalles", "Ventas", new { id = item.Id }, new { @class = "btn btn-default" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">

        </div>
    </div>


</section>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#Ventas").DataTable();
        });
    </script>
}