@model Tienda.ViewModels.AgregarProductoView
@{
    ViewBag.Title = "Punto de Venta";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <ol class="breadcrumb box">
            <li><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
            <li><a href="@Url.Action("Index","Ventas")">Ventas</a></li>
            <li class="active">Punto de Venta</li>
        </ol>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Añadir Productos</h3>
            </div>
            <div class="form-horizontal">
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button id="addCart" class="btn btn-default pull-right">Agregar Producto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
                    @if (!(Convert.ToInt32(Session["ConteoVentas"]) == 0))
                    {
                        @Html.ActionLink("Finalizar Venta", "Crud", new { }, new { @class = "btn btn-default pull-right" })
                    }
                    <label>@Session["ConteoVentas"]</label>
                </div>
            </div>
        </div>

        @if (Model.DetalleCart != null)
        {
            <div class="box">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DetalleCart)
                    {
                            <tr>
                                <td>
                                    @item.IdProducto
                                </td>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-2 .col-xs-6 .col-sm-4">
                                            <a href="@Url.Action("ConteoCesta","Ventas", new { barcode = item.Barcode, c = -1 })" class="btn btn-primary btn-xs"><i class="ion-minus-round"></i></a>

                                        </div>
                                        <div class="col-md-2 .col-xs-6 .col-sm-4">
                                            @item.Cantidad
                                        </div>
                                        <div class="col-md-2 .col-xs-6 .col-sm-4">
                                            <a href="@Url.Action("ConteoCesta","Ventas", new { barcode = item.Barcode, c = 1 })" class="btn btn-primary btn-xs"><i class="ion-plus-round"></i></a>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @item.Precio
                                </td>
                                <td>
                                    @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.IdProducto }, new { @class = "btn btn-danger", onclick = "return confirm ('Esta seguro que desea eliminar este producto')" })
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3" align="right">
                                <strong>Total</strong>
                            </td>
                            <td>
                                @Model.DetalleCart.Sum(d => d.Precio * d.Cantidad)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        }
    </section>
}

@section scripts
{
    <script>

        window.onload = function () {
            $("#Barcode").val("");
            var input = document.getElementById("Barcode").focus();
        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/error-jquery.js"></script>
}
